<% meta() %>

<%= render("./_partials/header.html", { title, description, url }) %>

    <color-band class="w-full mt-4 mb-6" style="height: 80px;"></color-band>
    <br/>
    <p>
        Hi, I'm Nikko. I'm a serial founder & CTO; usually solving human systems problems so my friends get to build great software and products.
    </p>

    <h4 class="mb-6">Writings <a href="/rss.xml" class="text-sm"><svg style="width: 18px; color: var(--link-color);" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rss-icon lucide-rss"><path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/></svg></a></h4>
    <%
        const posts = metas("./posts").filter((p) => p.meta.published);
        posts.sort((a, b) => b.meta.date.localeCompare(a.meta.date));

        const channel = {
            title: "{ Nikko Patten }",
            description: "Writing on software/product, and the systems needed to build them; both human and technical.",
            url: "https://nikkopatten.com"
        }
        const items = posts.map((p) => {
            return {
                title: p.meta.title,
                description: p.meta.description,
                pubdate: p.meta.date,
                url: channel.url + `/posts/${p.directory}`
            }
        })
        rss("./rss.xml", channel, items);
    %>
    <div class="post-list flex flex-col gap-4">
        <% for (const post of posts) { %>
            <a href="/posts/<%=post.directory%>/" class="flex gap-4 items-center">
                <div class="flex row gap-4 items-baseline">
                    <span class="text-sm text-muted italic whitespace-nowrap"><%=post.meta.date%></span>
                    <span><%=post.meta.title%></span>
                </div>
            </a>
        <% } %>
    </div>

    <h4 class="mt-12 mb-6">About Me</h4>
    <p>
        I'm a serial founder and CTO with over a decade of experience building companies, scaling teams, and
        designing the human systems that make great software/product possible. I co-founded Sparkfund
        <q-l href="https://www.sparkfund.com"></q-l>, an energy-as-a-service company where we deployed tens of millions of dollars into energy efficiency projects all over the USA.
    </p>
    <p>
        In 2021 I co-founded Junglytics, an AI analytics company, serving as CTO through its acquisition by Carbon6
        <q-l href="https://www.businesswire.com/news/home/20240828354236/en/Carbon6-Acquires-Junglytics-to-Revolutionize-AI-Powered-Solutions-for-Amazon-Sellers"></q-l> and subsequent acquisition by SPS Commerce
        <q-l href="https://www.spscommerce.com"></q-l>. I lead engineering and analytics teams there, while working hard to help figure out what enterprise software development looks like as the clankers get increasingly capable.
    </p>
    <p>
        My technical roots are in software engineering and systems thinking. I'm a comp-sci nerd who studied at Northeastern
        <q-l href="https://www.northeastern.edu"></q-l> and cut my teeth at Intuit before meeting a madman on an island off the coast of Portland Maine and subsequently starting Sparkfund with him. I also
        studied music production and percussion/brass performance at Berklee before realizing that if I wanted to afford my instruments I might want to focus on my programming hobby.
        <q-l href="https://www.berklee.edu"></q-l>, 
    </p>
    <p>
        I'm an Edmund Hillary Fellow
        <q-l href="https://www.ehf.org"></q-l> Ngā mihi to the tangata whenua who shared and taught us so much. 
        I'm an executive coach, facilitator, board member, and persistent advocate for the importance of good goal setting. I've found that all problems start and end with humans, and spending the time to nuture solid human systems opens the way for great techonology.
        When I'm not building, I'm mentoring/teaching, learning everything I can, and increasingly tinkering with clankers</q-l>.
    </p>

    <h4 class="mt-8 mb-6">Get in touch</h4>
    <div class="flex flex-col">
        <div class="flex gap-2 mb-3">
            <a href="https://github.com/npatten"><i class="icon w-8 h-8" style="color: var(--link-color);"><%=render("./_icons/github-line.svg")%></i></a>
            <a href="https://bsky.app/profile/npatten.bsky.social"><i class="icon w-8 h-8" style="color: var(--link-color);"><%=render("./_icons/bluesky-line.svg")%></i></a>
            <!-- <a href="https://mastodon.social/@nikkopatten"><i class="icon w-8 h-8" style="color: var(--link-color);"><%=render("./_icons/mastodon-line.svg")%></i></a> -->
        </div>
        <a href="mailto:nikkopatten@gmail.com">nikkopatten@gmail.com</a>
    </div>

    <%= render("./_partials/footer.html") %>
